.homepageContainer {
    .layout {
        background-color: white;
    }

    #header {
        background-color: white !important;
    }

    .right-nav {
        margin-left: 200px !important;
    }
}
